@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');


:root {
   --primary-color: salmon;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html, body {
   font-family: 'poppins', sans-serif;
}

h1 {
   color: white;
}


/* SECTION ONE */
.section-one {

   background-image: url('../images/image-one.jpg');
   background-size: cover;


   header {

      .logo {
         position: absolute;
         top: 30px;
         left: 100px;
         font-size: 2rem;
         font-weight: 600;
         color: white;
         z-index: 20;
      }

      .toggle {
         position: fixed;
         top: 5%;
         right: 2%;
         width: 30px;
         height: 30px;
         background: url('../images/icons/menu-icon.png');
         background-size: 25px;
         background-position: center;
         background-repeat: no-repeat;
         z-index: 20;
         cursor: pointer;
         transition: .6s ease;

      }

      .toggle.active {
         background: url('../images/icons/close-icon.png');
         background-size: 25px;
         background-position: center;
         background-repeat: no-repeat;
      }
   
      .navigation {  
         position: fixed;
         top: 0;
         left: 100%;
         width: 100%;
         height: 100%;
         z-index: 15;
         display: flex;
         justify-content: center;
         align-items: center;
         background-image: url('../images/image-four.jpg');
         background-repeat: no-repeat;
         background-size: cover;
         transition: 1s ease;

         ul {
            position: relative;

            li {
               position: relative;
               list-style: none;
               text-align: center;

               a {
                  font-size: 2.2rem;
                  color: white;
                  text-decoration: none;
                  font-weight: 400;
                  text-transform: capitalize;
                  transition: .5s ease-in-out;
               }

               a:hover {
                  color: var(--primary-color);
                  border-bottom: 2px solid salmon;
               }
            }
         }



      }

      .navigation.active {
         left: 0;
      }

   }

   section {

      display: flex;
      height: 100vh;
      align-items: center;

      .home-content {
         z-index: 10;
         max-width: 600px;
         position: relative;
         left: 5%;

         h1 {
            font-size: 80px;
            text-transform: capitalize;
            font-weight: 500;
            color: rgb(127, 30, 73);

         }
         p {
            color: white;
            margin: 20px 0 10px 0;
            font-size: 14px;
         }

         .btn {
            text-decoration: none;
            color: white;
            padding: 7px;
            border-bottom: 2px solid white;
         }

         .btn:hover {
            background-color: white;
            color: black;
            transition: 0.5s ease-in;
         }
      }
   }



} 


/* SECTION TWO */




.section-two {
   background-image: radial-gradient(circle at center center, transparent,rgb(0,0,0)),linear-gradient(300deg, rgba(198, 198, 198,0.05) 0%, rgba(198, 198, 198,0.05) 50%,rgba(11, 11, 11,0.05) 50%, rgba(11, 11, 11,0.05) 100%),linear-gradient(64deg, rgba(54, 54, 54,0.05) 0%, rgba(54, 54, 54,0.05) 50%,rgba(132, 132, 132,0.05) 50%, rgba(132, 132, 132,0.05) 100%),linear-gradient(17deg, rgba(57, 57, 57,0.05) 0%, rgba(57, 57, 57,0.05) 50%,rgba(128, 128, 128,0.05) 50%, rgba(128, 128, 128,0.05) 100%),linear-gradient(332deg, rgba(97, 97, 97,0.05) 0%, rgba(97, 97, 97,0.05) 50%,rgba(85, 85, 85,0.05) 50%, rgba(85, 85, 85,0.05) 100%),linear-gradient(148deg, rgba(237, 237, 237,0.05) 0%, rgba(237, 237, 237,0.05) 50%,rgba(211, 211, 211,0.05) 50%, rgba(211, 211, 211,0.05) 100%),linear-gradient(142deg, rgba(168, 168, 168,0.05) 0%, rgba(168, 168, 168,0.05) 50%,rgba(32, 32, 32,0.05) 50%, rgba(32, 32, 32,0.05) 100%),linear-gradient(15deg, rgba(225, 225, 225,0.05) 0%, rgba(225, 225, 225,0.05) 50%,rgba(228, 228, 228,0.05) 50%, rgba(228, 228, 228,0.05) 100%),linear-gradient(5deg, rgba(104, 104, 104,0.05) 0%, rgba(104, 104, 104,0.05) 50%,rgba(43, 43, 43,0.05) 50%, rgba(43, 43, 43,0.05) 100%),radial-gradient(circle at center center, hsl(290,5%,8%),hsl(290,5%,8%));
   background-size: cover;

   .slide-main {
      h2 {
         color: white;
         left: 1%;
         margin-top: 5rem;
         text-transform: capitalize;
         text-align: center;
         text-transform: capitalize;
      }
   }


   h1 {
      text-align: left;
      margin-left: 2rem;
      font-size: 3rem;
   }

   .section-two-text-block {
      display: grid;
      justify-content: center;
      grid-template-columns: 1fr 1fr;   
      grid-template-rows: 1fr;
      
      p {
         color: white;
         font-size: 18px;
         margin: 2rem;
         padding: 2rem;
         background: rgba(0, 0, 0, 0.4);
      }
   }

   .slide-one {
      background: url('../images/image-one.jpg');
      background-size: cover;
   }

   .slide-two {
      background: url('../images/image-three.jpg');
      background-size: cover;
   }

   .slide-three {
      background: url('../images/image-four.jpg');
      background-size: cover;
   }

   .slide-four {
      background: url('../images/image-five.jpg');
      background-size: cover;
   }

}


/* SECTION THREE */

.section-three {

   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: black;


   .about-section {
      background: url('../images/image-three.jpg') no-repeat left;
      background-size: 55%;
      background-color: black;
      overflow: hidden;
      padding: 100px 100px;

      .inner-container {
         width: 55%;
         float: right;
         background-color: salmon;
         padding: 50px 50px;

         h1 {
            font-size: 30px;
            margin-bottom: 30px;
            color: rgb(127, 30, 73);
         }

         .text {
            font-size: 14px;
            color: white;
            line-height: 30px;
            text-align: left;
            margin-bottom: 40px;
         }

         .skills {
            display: flex;
            justify-content: space-evenly;

            ul {
               display: flex;
               align-items: center;
               justify-content: center;

               li {
                  justify-content: space-evenly;
                  list-style: none;
                  padding: 8px;

                  a {
                     text-decoration: none;
                     color: black;
                     transition: .1s ease-in-out;
                  }

                  a:hover {
                     border-bottom: 2px solid black;

                  }
               }
            }
         }


      }
   }

   h1 {
      color: black;
   }
   
}


/* SECTION FOUR */

.section-four {
   background: url('../images/image-one.jpg');
   background-size: cover;
   
   h1 {
      text-align: left;
      margin-left: 4rem;
      font-size: 3rem;
   }
   
}


/* FULLAGE.JS STYLINGS */

span {
   background: salmon !important;
}

.fp-slidesNav.fp-bottom {
   text-align: center;
}

.fp-tooltip.fp-right {
   color: salmon !important;
}


/* MEDIA QUERIES */

@media (max-width: 1068px) {

   .section-one  header .logo {
      left: 80px;
      color: var(--primary-color);
      font-size: 1.5rem;
   }

   .section-one section .home-content h1 {
      font-size: 40px;
   }

   .section-one section .home-content p {
      padding: 1rem;
   }

   .section {
      padding: 100px 40px;
   }
   
}


@media screen and (max-width: 1200px) {
   .inner-container {
      padding: 80px;
   }
}

@media screen and (max-width: 1000px) {
   .about-section {
      background-size: 100%;
      padding: 100px 40px;

      .inner-container  {
         width: 100%;
      }
   }
}