@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");
:root {
  --primary-color: rgb(233, 193, 107);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-family: "poppins", sans-serif;
}

body {
  margin: 0 auto;
  padding: 0 auto;
}

h1 {
  color: white;
}

.fp-watermark {
  display: none !important;
}

nav {
  width: 100%;
  position: fixed;
  z-index: 1000;
}

nav .wrap-nav {
  padding: 0.5rem 1rem 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .wrap-nav .logo {
  background-image: url("../images/animated/CY-coin.gif");
  background-size: cover;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  position: fixed;
  left: 1%;
  top: 1%;
}

nav .wrap-nav .toggle {
  width: 30px;
  height: 30px;
  background: url("../images/icons/menu-icon.png");
  background-size: 25px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  z-index: 2000;
  position: fixed;
  right: 1%;
  top: 2%;
}

nav .wrap-nav .toggle.active {
  background: url("../images/icons/close-icon.png");
  background-size: 25px;
  background-position: center;
  background-repeat: no-repeat;
}

nav .navigation {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  max-width: 500px;
  height: 100%;
  z-index: 15;
  background-color: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

nav .navigation img {
  height: 300px;
  width: auto;
  position: fixed;
  right: 5%;
  top: 25%;
  display: none;
}

nav .navigation ul {
  position: relative;
}

nav .navigation ul li {
  position: relative;
  list-style: none;
  text-align: center;
}

nav .navigation ul li a {
  font-size: 2.2rem;
  color: white;
  text-decoration: none;
  font-weight: 400;
  text-transform: capitalize;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

nav .navigation ul li a:hover {
  color: var(--primary-color);
  border-bottom: 2px solid --primary-color;
}

nav .navigation.active {
  right: 0;
}

/* SECTION ONE */
.section-one {
  background-image: url("../images/body-images/section-one.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  -webkit-box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
}

.section-one .logo-image {
  width: 400px;
  height: 400px;
  margin: auto;
}

.section-one .logo-image img {
  background-size: cover;
  background-repeat: no-repeat;
  height: inherit;
  width: inherit;
  -webkit-transition: 1.5s ease-in-out;
  transition: 1.5s ease-in-out;
  border-radius: 50%;
  border: 3px solid #f3deb1;
}

.section-one .logo-image img:hover {
  background-color: rgba(0, 0, 0, 0.5);
  border: 3px solid rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

/* SECTION TWO */
.section-two {
  background-image: url("../images/body-images/section-two.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  max-width: auto;
  -webkit-box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
          box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
}

.section-two .container {
  position: relative;
  overflow: hidden;
}

@media only screen and (max-width: 1000px) {
  .section-two .container {
    border-radius: 0;
  }
}

.section-two .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 500%;
  height: 100%;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  background-color: rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 1000px) {
  .section-two .slider {
    height: 100vh;
  }
}

.section-two .slider .box {
  height: 100%;
  width: 100%;
  max-width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  position: relative;
}

@media only screen and (max-width: 650px) {
  .section-two .slider .box {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
  }
}

.section-two .slider .box .bg {
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.3);
  width: 40%;
  -webkit-transform: skewX(7deg);
          transform: skewX(7deg);
  position: absolute;
  height: 100%;
  left: -10%;
  padding-left: 20rem;
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
}

@media only screen and (max-width: 800px) {
  .section-two .slider .box .bg {
    width: 65%;
  }
}

@media only screen and (max-width: 650px) {
  .section-two .slider .box .bg {
    width: 100%;
    left: 0;
    bottom: 0;
    height: 54%;
    -webkit-transform: skewX(0deg);
            transform: skewX(0deg);
  }
}

.section-two .slider .box .bg::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: inherit;
  pointer-events: none;
  -webkit-transform: skewX(10deg);
          transform: skewX(10deg);
}

@media only screen and (max-width: 650px) {
  .section-two .slider .box .bg::before {
    width: 120%;
    bottom: 0;
    -webkit-transform: skewX(0deg);
            transform: skewX(0deg);
  }
}

.section-two .slider .box .details {
  padding: 5rem;
  padding-left: 10rem;
  z-index: 100;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / span 1;
  grid-row: 1 / -1;
}

@media only screen and (max-width: 650px) {
  .section-two .slider .box .details {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / span 1;
    grid-column: 1 / -1;
    text-align: center;
    padding: 2rem;
    -webkit-transform: translateY(-9rem);
            transform: translateY(-9rem);
  }
}

.section-two .slider .box .details h1 {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: .5rem;
  color: var(--primary-color);
}

.section-two .slider .box .details p {
  display: inline-block;
  font-size: 14px;
  color: white;
  margin-bottom: 2rem;
  margin-right: 5rem;
}

@media only screen and (max-width: 800px) {
  .section-two .slider .box .details p {
    margin-right: 0;
  }
}

.section-two .slider .box .details button {
  padding: 1rem 3rem;
  color: white;
  border: 2px solid white;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  border: 2px solid --primary-color;
  font-weight: 600;
  font-size: 15px;
}

.section-two .slider .box .details button:hover {
  opacity: 1;
  background-color: var(--primary-color);
  color: black;
  border: 2px solid var(--primary-color);
}

.section-two .slider .img {
  height: 500px;
  width: 500px;
}

.section-two .slider .img img {
  background-size: cover;
  width: auto;
  max-width: 700px;
  height: auto;
}

@media only screen and (max-width: 650px) {
  .section-two .slider .img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 400Px;
    height: 400px;
  }
}

.section-two .prev,
.section-two .next,
.section-two .trail {
  z-index: 10000;
  position: absolute;
}

.section-two .prev,
.section-two .next {
  width: 4rem;
  cursor: pointer;
  opacity: .2;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

@media only screen and (max-width: 650px) {
  .section-two .prev,
  .section-two .next {
    display: none;
  }
}

.section-two .prev:hover,
.section-two .next:hover {
  opacity: 1;
}

.section-two .prev {
  top: 50%;
  left: 5%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.section-two .next {
  top: 50%;
  right: 6%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.section-two .trail {
  bottom: 5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 50%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  text-align: center;
  font-size: 1rem;
}

@media only screen and (max-width: 650px) {
  .section-two .trail {
    width: 90%;
    bottom: 13%;
  }
}

.section-two .trail div {
  padding: 0.5rem;
  border-bottom: 2px solid #fff;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: white;
}

.section-two .trail div:hover {
  opacity: 1;
}

@media only screen and (max-width: 650px) {
  .section-two .trail div {
    padding: 1rem;
  }
}

.section-two .active {
  opacity: 1 !important;
  font-size: 16px;
  font-weight: 500;
  color: var(--primary-color) !important;
}

/* SECTION THREE */
.section-three {
  background-image: url("../images/body-images/section-one.jpg");
  height: 100%;
  width: auto;
  max-width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  -webkit-box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
          box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
}

.section-three .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100vh;
}

.section-three .container .col-one {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 70%;
      -ms-flex: 70%;
          flex: 70%;
  max-width: auto;
}

.section-three .container .col-one img {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 5rem 3rem 5rem 3rem;
}

.section-three .container .col-two {
  height: auto;
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
          box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
}

.section-three .container .col-two .text-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-three .container .col-two .text-container h1 {
  font-size: 40px;
  text-align: center;
  padding-top: 5rem;
  color: var(--primary-color);
}

.section-three .container .col-two .text-container p {
  font-size: 13px;
  color: white;
  padding: 1rem;
  margin: 2rem;
  text-align: left;
}

.section-three .container .col-two .text-container p #text {
  -webkit-transform: transition 0.5s ease;
          transform: transition 0.5s ease;
}

.section-three .container .col-two .text-container .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 1.2rem;
}

.section-three .container .col-two .text-container .buttons a {
  text-decoration: none;
  color: white;
  border-bottom: 2px solid white;
  padding: 5px;
  margin: 5px;
  font-size: 14px;
}

.section-three .container .col-two .text-container .buttons a:hover {
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
}

/* SECTION FOUR */
.section-four {
  background-color: black;
  width: 90%;
  margin: 3rem auto;
}

.section-four .contact-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-four .contact-box .contact-left {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  padding: 40px;
  background-color: white;
}

.section-four .contact-box .contact-left h3 {
  text-transform: capitalize;
  margin-bottom: 30px;
}

.section-four .contact-box .contact-left .input-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.section-four .contact-box .contact-left .input-row .input-group {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
}

.section-four .contact-box .contact-left .input-row .input-group input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  padding-bottom: 5px;
}

.section-four .contact-box .contact-left label {
  margin-bottom: 6px;
  display: block;
  color: var(--primary-color);
}

.section-four .contact-box .contact-left textarea {
  width: 100%;
  border: 1px solid #ccc;
  outline: none;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.section-four .contact-box .contact-left button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  width: 100px;
  height: 35px;
  margin-top: 20px;
  -webkit-box-shadow: 0px 5px 15px 0px var(--primary-color);
          box-shadow: 0px 5px 15px 0px var(--primary-color);
  cursor: pointer;
}

.section-four .contact-box .contact-right {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  padding: 40px;
  background-color: var(--primary-color);
}

.section-four .contact-box .contact-right tr td {
  padding-top: 20px;
}

.section-four .contact-box .contact-right tr td:first-child {
  padding-right: 20px;
}

.section-four .contact-box .contact-right .content-footer tr td {
  display: block;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 14px;
}

.section-four .contact-box .contact-right a {
  text-decoration: none;
  color: white;
}

.section-four .contact-box .contact-right a:hover {
  border-bottom: 2px solid white;
}

.section-four h1 {
  text-align: center;
  margin: 1rem 2rem;
  font-size: 3rem;
  text-transform: capitalize;
  color: var(--primary-color);
}

.section-four p {
  color: white;
  font-size: 14px;
  margin: 1rem 2rem;
}

/* FULLAGE.JS STYLINGS */
span {
  background-color: white !important;
  margin: 10px;
  padding: 5px;
  overflow: hidden;
  -webkit-box-shadow: inset 0 0 0 2px white;
          box-shadow: inset 0 0 0 2px white;
}

.fp-slidesNav.fp-bottom {
  text-align: center;
}

.fp-tooltip.fp-right {
  color: white !important;
  font-size: 15px !important;
  font-weight: 600;
}

/* MEDIA QUERIES */
@media (max-width: 1068px) {
  .section-one header .logo {
    left: 80px;
    color: var(--primary-color);
    font-size: 1.5rem;
  }
  .section-one section .home-content h1 {
    font-size: 40px;
  }
  .section-one section .home-content p {
    padding: 1rem;
  }
}

@media screen and (max-width: 1200px) {
  .inner-container {
    padding: 80px;
  }
}

@media screen and (max-width: 1000px) {
  .about-section {
    background-size: 100%;
    padding: 100px 40px;
  }
  .about-section .inner-container {
    width: 100%;
  }
}

/* SECTION THREE MEDIA QUERIES */
/* mobile version */
@media only screen and (max-width: 600px) {
  .fp-watermark {
    display: none !important;
  }
  nav {
    width: 100%;
    position: fixed;
    z-index: 1000;
  }
  nav .wrap-nav {
    padding: 0.5rem 1rem 0 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  nav .wrap-nav .logo {
    background-image: url("../images/animated/CY-coin.gif");
    background-size: cover;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    position: fixed;
    left: 1%;
    top: 1%;
  }
  nav .wrap-nav .toggle {
    width: 30px;
    height: 30px;
    background: url("../images/icons/menu-icon.png");
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    -webkit-transition: 0.6s ease;
    transition: 0.6s ease;
    z-index: 2000;
    position: fixed;
    right: 1%;
    top: 2%;
  }
  nav .wrap-nav .toggle.active {
    background: url("../images/icons/close-icon.png");
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
  }
  nav .navigation {
    position: fixed;
    top: 0;
    right: -100;
    width: 100%;
    max-width: 500px;
    height: 100%;
    z-index: 15;
    background-color: rgba(0, 0, 0, 0.7);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: 1s ease;
    transition: 1s ease;
  }
  nav .navigation img {
    height: 300px;
    width: auto;
    position: fixed;
    right: 5%;
    top: 25%;
    display: none;
  }
  nav .navigation ul {
    position: relative;
  }
  nav .navigation ul li {
    position: relative;
    list-style: none;
    text-align: center;
  }
  nav .navigation ul li a {
    font-size: 2.2rem;
    color: white;
    text-decoration: none;
    font-weight: 400;
    text-transform: capitalize;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }
  nav .navigation ul li a:hover {
    color: var(--primary-color);
    border-bottom: 2px solid --primary-color;
  }
  nav .navigation.active {
    right: 0;
  }
  /* SECTION ONE */
  .section-one {
    background-image: url("../images/body-images/section-one.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    -webkit-box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
            box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
  }
  .section-one .logo-image {
    width: 200px;
    height: 200px;
    margin: auto;
  }
  .section-one .logo-image img {
    background-size: cover;
    background-repeat: no-repeat;
    height: inherit;
    width: inherit;
    -webkit-transition: 1.5s ease-in-out;
    transition: 1.5s ease-in-out;
    border-radius: 50%;
    border: 3px solid #f3deb1;
  }
  .section-one .logo-image img:hover {
    background-color: rgba(0, 0, 0, 0.5);
    border: 3px solid rgba(0, 0, 0, 0.5);
    border-radius: 50%;
  }
  /* SECTION TWO */
  /* SECTION THREE */
  .section-three {
    background-image: url("../images/body-images/section-one.jpg");
    height: 100%;
    width: auto;
    max-width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
    -webkit-box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
            box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
  }
  .section-three .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100vh;
  }
  .section-three .container .col-one {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
    max-width: auto;
  }
  .section-three .container .col-one img {
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 2rem;
  }
  .section-three .container .col-two {
    height: auto;
    max-height: 570px;
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
            box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
  }
  .section-three .container .col-two .text-container {
    height: 100%;
    width: 100%;
    max-width: 400px;
    margin: auto;
  }
  .section-three .container .col-two .text-container h1 {
    font-size: 40px;
    text-align: center;
    padding-top: 5rem;
    color: var(--primary-color);
  }
  .section-three .container .col-two .text-container p {
    font-size: 13px;
    color: white;
    padding: 1rem;
    margin: 2rem;
    text-align: left;
  }
  .section-three .container .col-two .text-container p #text {
    -webkit-transform: transition 0.5s ease;
            transform: transition 0.5s ease;
  }
  .section-three .container .col-two .text-container .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 1.2rem;
  }
  .section-three .container .col-two .text-container .buttons a {
    text-decoration: none;
    color: white;
    border-bottom: 2px solid white;
    padding: 5px;
    margin: 5px;
    font-size: 14px;
  }
  .section-three .container .col-two .text-container .buttons a:hover {
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
  }
  .section-four {
    background-color: black;
    width: 90%;
    margin: 3rem auto;
  }
  .section-four .contact-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-four .contact-box .contact-left {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
    padding: 40px;
    background-color: white;
  }
  .section-four .contact-box .contact-left h3 {
    text-transform: capitalize;
    margin-bottom: 30px;
  }
  .section-four .contact-box .contact-left .input-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 20px;
  }
  .section-four .contact-box .contact-left .input-row .input-group {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
  }
  .section-four .contact-box .contact-left .input-row .input-group input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;
  }
  .section-four .contact-box .contact-left label {
    margin-bottom: 6px;
    display: block;
    color: var(--primary-color);
  }
  .section-four .contact-box .contact-left textarea {
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .section-four .contact-box .contact-left button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    width: 100px;
    height: 35px;
    margin-top: 20px;
    -webkit-box-shadow: 0px 5px 15px 0px var(--primary-color);
            box-shadow: 0px 5px 15px 0px var(--primary-color);
    cursor: pointer;
  }
  .section-four .contact-box .contact-right {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
    padding: 40px;
    background-color: var(--primary-color);
  }
  .section-four .contact-box .contact-right tr td {
    padding-top: 20px;
  }
  .section-four .contact-box .contact-right tr td:first-child {
    padding-right: 20px;
  }
  .section-four .contact-box .contact-right .content-footer tr td {
    display: block;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    font-size: 14px;
  }
  .section-four .contact-box .contact-right a {
    text-decoration: none;
    color: white;
  }
  .section-four .contact-box .contact-right a:hover {
    border-bottom: 2px solid white;
  }
  .section-four h1 {
    text-align: center;
    margin: 1rem 2rem;
    font-size: 3rem;
    text-transform: capitalize;
    color: var(--primary-color);
  }
  .section-four p {
    color: white;
    font-size: 14px;
    margin: 1rem 2rem;
  }
}
/*# sourceMappingURL=main.css.map */