@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");

:root {
   --primary-color: #e9c16b;
   // --primary-color: rgb(243,222,177);
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html,
body {
   font-family: "poppins", sans-serif;
}

body {
   margin: 0 auto;
   padding: 0 auto;
}

h1 {
   color: white;
}

.fp-watermark {
   display: none !important;
}

nav {
   width: 100%;
   position: fixed;
   z-index: 1000;

   .wrap-nav {
      padding: 0.5rem 1rem 0 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .logo {
         background-image: url("../images/animated/CY-coin.gif");
         background-size: cover;
         height: 120px;
         width: 120px;
         border-radius: 50%;
         position: fixed;
         left: 1%;
         top: 1%;
      }

      .toggle {
         width: 30px;
         height: 30px;
         background: url("../images/icons/menu-icon.png");
         background-size: 25px;
         background-position: center;
         background-repeat: no-repeat;
         cursor: pointer;
         transition: 0.6s ease;
         z-index: 2000;
         position: fixed;
         right: 1%;
         top: 2%;
      }

      .toggle.active {
         background: url("../images/icons/close-icon.png");
         background-size: 25px;
         background-position: center;
         background-repeat: no-repeat;
      }
   }

   .navigation {
      position: fixed;
      top: 0;
      right: -100%;
      width: 100%;
      max-width: 500px;
      height: 100%;
      z-index: 15;
      background-color: rgba(0, 0, 0, 0.7);
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 1s ease;

      img {
         height: 300px;
         width: auto;
         position: fixed;
         right: 5%;
         top: 25%;
         display: none;
      }

      ul {
         position: relative;

         li {
            position: relative;
            list-style: none;
            text-align: center;

            a {
               font-size: 2.2rem;
               color: white;
               text-decoration: none;
               font-weight: 400;
               text-transform: capitalize;
               transition: 0.5s ease-in-out;
            }

            a:hover {
               color: var(--primary-color);
               border-bottom: 2px solid --primary-color;
            }
         }
      }
   }

   .navigation.active {
      right: 0;
   }
}

/* SECTION ONE */

.section-one {
   background-image: url("../images/body-images/section-one.jpg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   height: 100%;
   box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);

   .logo-image {
      width: 400px;
      height: 400px;
      margin: auto;

      a {

         width: 400px;
         height: 400px;

         img {
            background-size: cover;
            background-repeat: no-repeat;
            height: inherit;
            width: inherit;
            transition: 1.5s ease-in-out;
            border-radius: 50%;
            border: 3px solid rgb(243, 222, 177);
         }

      }



      img:hover {
         background-color: rgba(0, 0, 0, 0.5);
         border: 3px solid rgba(0, 0, 0, 0.5);
         border-radius: 50%;
      }
   }
}

/* SECTION TWO */

.section-two {
   background-image: url("../images/body-images/section-two.jpg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   height: 100%;
   max-width: auto;
   box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);


   .container {
      position: relative;
      overflow: hidden;  

      @media only screen and (max-width: 1000px) {
         border-radius: 0;
      }


      .slider {
         display: flex;
         width: 500%;
         height: 100%;
         transition: all .5s ease-in;
         // overflow-x: auto;
         // scroll-snap-type: x mandatory;
         // -webkit-overflow-scrolling: touch;
         // scroll-behavior: smooth;
         transform: translateX(0);
         background-color: rgba(0,0,0,0.5);
     
         @media only screen and (max-width: 1000px) {
             height: 100vh;
         }



         .box {
             height: 100%;
             width: 100%;
             max-width: 100%;
             display: grid;
             grid-template-columns: repeat(2, 1fr);
             align-items: center;
             overflow: hidden;
             position: relative;
     
             @media only screen and (max-width: 650px) {
                 grid-template-columns: 1fr;
                 grid-template-rows: repeat(2, 1fr);
             }
            
            .bg {
               padding: 2rem;
               background-color: rgba(0,0,0,0.3);
               width: 40%;
               transform: skewX(7deg);
               position: absolute;
               height: 100%;
               left: -10%;
               padding-left: 20rem;    
               transform-origin: 0 100%;     
               
               @media only screen and (max-width: 800px) {
                  width: 65%;
               }
   
               @media only screen and (max-width: 650px) {
                  width: 100%;
                  left: 0;
                  bottom: 0;
                  height: 54%;
                  transform: skewX(0deg);
               }
   
               &::before {
                  content: "";
                  width: 100%;
                  height: 100%;
                  position: absolute;
                  left: 0;
                  top: 0;
                  background-color: inherit;
                  pointer-events: none;
                  transform: skewX(10deg);
   
                  @media only screen and (max-width: 650px) {
                        width: 120%;
                        bottom: 0;
                        transform: skewX(0deg);
                  }
   
               }
            }
     
            .details {
               padding: 5rem;
               padding-left: 10rem;
               z-index: 100;
               grid-column: 1 / span 1;
               grid-row: 1 / -1;
   
               @media only screen and (max-width: 650px) {
                  grid-row: 2 / span 1;
                  grid-column: 1 / -1;
                  text-align: center;
                  padding:2rem;
                  transform: translateY(-9rem);
               }
               
               h1 {
                  font-size: 3rem;
                  font-weight: 500;
                  margin-bottom: .5rem;
                  color: var(--primary-color);
               }
   
               p {
                  display: inline-block;
                  font-size: 14px;
                  color: white;
                  margin-bottom: 2rem;
                  margin-right: 5rem;
   
                  @media only screen and (max-width: 800px) {
                        margin-right: 0;
                  }
               }
   
               button {
                  padding: 1rem 3rem;
                  color: white;
                  border: 2px solid white;
                  cursor: pointer;
                  background-color: rgba(0,0,0,0.5);
                  transition: all 0.6s ease-in-out;
                  border: 2px solid --primary-color;
                  font-weight: 600;
                  font-size: 15px;
   
                  &:hover {
                     opacity: 1;
                     background-color: var(--primary-color);
                     color: black;
   
                     border: 2px solid var(--primary-color);
   
   
                  }
               }
            }
            }
     
     
         .img {
            height: 500px;
            width: 500px;
     
            img {
               background-size: cover;
               width: auto;
               max-width: 700px;
               height: auto;
            }
         }
     
         @media only screen and (max-width: 650px) {
     
            .img {
               display: flex;
               flex-direction: column;
               width: 400Px;
               height: 400px;
            }
         }
     
   
      }
     
      .prev,
      .next,
      .trail {
         z-index: 10000;
         position: absolute;
      }
     
      .prev,
      .next {
            width: 4rem;
            cursor: pointer;
            opacity: .2;
            transition: all .3s ease;
      
            @media only screen and (max-width: 650px) {
               display: none;
            }
      
            &:hover { opacity: 1;}
      }
   
   
      .prev {
            top: 50%;
            left: 5%;
            transform: translateY(-50%);
      }
      
      .next {
            top: 50%;
            right: 6%;
            transform: translateY(-50%);
      }
     
      .trail {
         bottom: 5%;
         left: 50%;
         transform: translateX(-50%);
         width: 50%;
         display: grid;
         grid-template-columns: repeat(5, 1fr);
         gap: 1rem;
         text-align: center;
         font-size: 1rem;
   
         @media only screen and (max-width: 650px) {
            width: 90%;
            bottom: 13%;
         }
      
         div {
            padding: 0.5rem;
            border-bottom: 2px solid #fff;
            cursor: pointer;
            transition: all 0.3s ease;
            color: white;
   
            &:hover {
               opacity: 1;
            }
   
            @media only screen and (max-width: 650px) {
               padding: 1rem;
            }
         }
      }
     
      .active {
         opacity: 1 !important;
         font-size: 16px;
         font-weight: 500;
         color: var(--primary-color) !important;
      }



   }
  


}

/* SECTION THREE */
.section-three {
   background-image: url("../images/body-images/section-one.jpg");
   height: 100%;
   width: auto;
   max-width: 100%;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   background-color: white;
   box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);

   .container {
      display: flex;
      flex-direction: row;
      height: 100vh;

      .col-one {
         height: auto;
         display: flex;
         flex: 70%;
         max-width: auto;
         // box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);

         img {
            width: 100%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            padding: 5rem 3rem 5rem 3rem;
         }
      }

      .col-two {
         height: auto;
         flex: 50%;
         display: flex;
         box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
         // background-color: salmon;

         .text-container {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;


            h1 {
               font-size: 40px;
               text-align: center;
               padding-top: 5rem;
               color: var(--primary-color);
            }

            p {
               font-size: 13px;
               color: white;
               padding: 1rem;
               margin: 2rem;
               text-align: left;

               #text {
                  transform: transition 0.5s ease;
               }
            }

            .buttons {
               display: flex;
               justify-content: space-evenly;
               padding: 1.2rem;

               a {
                  text-decoration: none;
                  color: white;
                  border-bottom: 2px solid white;
                  padding: 5px;
                  margin: 5px;
                  font-size: 14px;
               }

               a:hover {
                  color: var(--primary-color);
                  border-bottom: 2px solid var(--primary-color);
               }
            }
         }
      }
   }
}

/* SECTION FOUR */

.section-four {
   background-color: black;
   width: 90%;
   margin: 3rem auto;

   .contact-box {
      display: flex;

      .contact-left {
         flex-basis: 60%;
         padding: 40px;
         background-color: white;

         h3 {
            text-transform: capitalize;
            margin-bottom: 30px;
         }

         .input-row {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;

            .input-group {
               flex-basis: 45%;

               input {
                  width: 100%;
                  border: none;
                  border-bottom: 1px solid #ccc;
                  outline: none;
                  padding-bottom: 5px;
               }
            }
         }

         label {
            margin-bottom: 6px;
            display: block;
            color: var(--primary-color);
         }

         textarea {
            width: 100%;
            border: 1px solid #ccc;
            outline: none;
            padding: 10px;
            box-sizing: border-box;
         }

         button {
            background-color: var(--primary-color);
            color: white;
            border: none;
            width: 100px;
            height: 35px;
            margin-top: 20px;
            box-shadow: 0px 5px 15px 0px var(--primary-color);
            cursor: pointer;
         }
      }

      .contact-right {
         flex-basis: 40%;
         padding: 40px;
         background-color: var(--primary-color);

         tr td {
            padding-top: 20px;
         }

         tr td:first-child {
            padding-right: 20px;
         }

         .content-footer tr td {
            display: block;
            justify-content: space-evenly;
            font-size: 14px;
         }

         a {
            text-decoration: none;
            color: white;
         }

         a:hover {
            border-bottom: 2px solid white;
         }
      }
   }

   h1 {
      text-align: center;
      margin: 1rem 2rem;
      font-size: 3rem;
      text-transform: capitalize;
      color: var(--primary-color);
   }

   p {
      color: white;
      font-size: 14px;
      margin: 1rem 2rem;
   }
}

/* FULLAGE.JS STYLINGS */

span {
   background-color: white !important;
   margin: 10px;
   padding: 5px;
   overflow: hidden;
   box-shadow: inset 0 0 0 2px white;
}

.fp-slidesNav.fp-bottom {
   text-align: center;
}

.fp-tooltip.fp-right {
   color: white !important;
   font-size: 15px !important;
   font-weight: 600;
}

/* MEDIA QUERIES */

@media (max-width: 1068px) {
   .section-one header .logo {
      left: 80px;
      color: var(--primary-color);
      font-size: 1.5rem;
   }

   .section-one section .home-content h1 {
      font-size: 40px;
   }

   .section-one section .home-content p {
      padding: 1rem;
   }
}

@media screen and (max-width: 1200px) {
   .inner-container {
      padding: 80px;
   }
}

@media screen and (max-width: 1000px) {
   .about-section {
      background-size: 100%;
      padding: 100px 40px;

      .inner-container {
         width: 100%;
      }
   }
}

/* SECTION THREE MEDIA QUERIES */

/* mobile version */

@media only screen and (max-width: 600px) {
   .fp-watermark {
      display: none !important;
   }

   // NAVIGATION BAR

   nav {
      width: 100%;
      position: fixed;
      z-index: 1000;

      .wrap-nav {
         padding: 0.5rem 1rem 0 1rem;
         display: flex;
         align-items: center;
         justify-content: space-between;

         .logo {
            background-image: url("../images/animated/CY-coin.gif");
            background-size: cover;
            height: 120px;
            width: 120px;
            border-radius: 50%;
            position: fixed;
            left: 1%;
            top: 1%;
            // background-color: rgba(255, 255, 255, 0.5);

            // color: white;
            // text-transform: uppercase;
            // font-size: 35px;
            // border: 2px solid white;
            // margin: 1rem;
            // padding: 10px;
            // transition: 2s ease;
         }

         .toggle {
            width: 30px;
            height: 30px;
            background: url("../images/icons/menu-icon.png");
            background-size: 25px;
            background-position: center;
            background-repeat: no-repeat;
            cursor: pointer;
            transition: 0.6s ease;
            z-index: 2000;
            position: fixed;
            right: 1%;
            top: 2%;
         }

         .toggle.active {
            background: url("../images/icons/close-icon.png");
            background-size: 25px;
            background-position: center;
            background-repeat: no-repeat;
         }
      }

      .navigation {
         position: fixed;
         top: 0;
         right: -100;
         width: 100%;
         max-width: 500px;
         height: 100%;
         z-index: 15;
         background-color: rgba(0, 0, 0, 0.7);
         display: flex;
         justify-content: center;
         align-items: center;
         transition: 1s ease;

         img {
            height: 300px;
            width: auto;
            position: fixed;
            right: 5%;
            top: 25%;
            display: none;
         }

         ul {
            position: relative;

            li {
               position: relative;
               list-style: none;
               text-align: center;

               a {
                  font-size: 2.2rem;
                  color: white;
                  text-decoration: none;
                  font-weight: 400;
                  text-transform: capitalize;
                  transition: 0.5s ease-in-out;
               }

               a:hover {
                  color: var(--primary-color);
                  border-bottom: 2px solid --primary-color;
               }
            }
         }
      }

      .navigation.active {
         right: 0;
      }
   }

   /* SECTION ONE */

   .section-one {
      background-image: url("../images/body-images/section-one.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
      box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);

      .logo-image {
         width: 200px;
         height: 200px;
         margin: auto;

         img {
            background-size: cover;
            background-repeat: no-repeat;
            height: inherit;
            width: inherit;
            transition: 1.5s ease-in-out;
            border-radius: 50%;
            border: 3px solid rgb(243, 222, 177);
         }

         img:hover {
            background-color: rgba(0, 0, 0, 0.5);
            border: 3px solid rgba(0, 0, 0, 0.5);
            border-radius: 50%;
         }
      }
   }

   /* SECTION TWO */






   /* SECTION THREE */
   .section-three {
      background-image: url("../images/body-images/section-one.jpg");
      height: 100%;
      width: auto;
      max-width: 100%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-color: white;
      box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);

      .container {
         display: flex;
         flex-direction: column;
         height: 100vh;

         .col-one {
            height: auto;
            display: flex;
            flex: 50%;
            max-width: auto;

            img {
               width: 100%;
               // max-width: ;
               background-size: cover;
               background-position: center;
               background-repeat: no-repeat;
               padding: 2rem;
            }
         }

         .col-two {
            height: auto;
            max-height: 570px;
            flex: 50%;
            display: flex;
            box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
            // background-color: salmon;

            .text-container {
               height: 100%;
               width: 100%;
               max-width: 400px;
               margin: auto;

               h1 {
                  font-size: 40px;
                  text-align: center;
                  padding-top: 5rem;
                  color: var(--primary-color);
               }

               p {
                  font-size: 13px;
                  color: white;
                  padding: 1rem;
                  margin: 2rem;
                  text-align: left;

                  #text {
                     transform: transition 0.5s ease;
                  }
               }

               .buttons {
                  display: flex;
                  justify-content: space-evenly;
                  flex-wrap: wrap;
                  flex-direction: row;
                  padding: 1.2rem;

                  a {
                     text-decoration: none;
                     color: white;
                     border-bottom: 2px solid white;
                     padding: 5px;
                     margin: 5px;
                     font-size: 14px;
                  }

                  a:hover {
                     color: var(--primary-color);
                     border-bottom: 2px solid var(--primary-color);
                  }
               }
            }
         }
      }
   }

   // * SECTION FOUR */

   .section-four {
      background-color: black;
      width: 90%;
      margin: 3rem auto;

      .contact-box {
         display: flex;
         flex-direction: column;

         .contact-left {
            flex-basis: 60%;
            padding: 40px;
            background-color: white;

            h3 {
               text-transform: capitalize;
               margin-bottom: 30px;
            }

            .input-row {
               display: flex;
               justify-content: space-between;
               margin-bottom: 20px;

               .input-group {
                  flex-basis: 45%;

                  input {
                     width: 100%;
                     border: none;
                     border-bottom: 1px solid #ccc;
                     outline: none;
                     padding-bottom: 5px;
                  }
               }
            }

            label {
               margin-bottom: 6px;
               display: block;
               color: var(--primary-color);
            }

            textarea {
               width: 100%;
               border: 1px solid #ccc;
               outline: none;
               padding: 10px;
               box-sizing: border-box;
            }

            button {
               background-color: var(--primary-color);
               color: white;
               border: none;
               width: 100px;
               height: 35px;
               margin-top: 20px;
               box-shadow: 0px 5px 15px 0px var(--primary-color);
               cursor: pointer;
            }
         }

         .contact-right {
            flex-basis: 40%;
            padding: 40px;
            background-color: var(--primary-color);

            tr td {
               padding-top: 20px;
            }

            tr td:first-child {
               padding-right: 20px;
            }

            .content-footer tr td {
               display: block;
               justify-content: space-evenly;
               font-size: 14px;
            }

            a {
               text-decoration: none;
               color: white;
            }

            a:hover {
               border-bottom: 2px solid white;
            }
         }
      }

      h1 {
         text-align: center;
         margin: 1rem 2rem;
         font-size: 3rem;
         text-transform: capitalize;
         color: var(--primary-color);
      }

      p {
         color: white;
         font-size: 14px;
         margin: 1rem 2rem;
      }
   }
}
